
{% extends "layout.html" %}
{% block content %}

<ul>
    {% for error in errors %}
    <li> {{error[0]}} </li>
    {%endfor %}
</ul>

<html>
<head>
    <title>FriendsApp</title>
</head>
<body>
<div>
<form action="/articles" method="post">
    <label for="title" style="font-size: x-large">Title</label>
    <br>
    <input  type="text" id="title" maxlength="200" name="title" size=75px required value = "{{ inputs['title'] }}">
    <br><br>
    <span style="font-size: x-large"> Text </span>
    <br>
    <textarea name="text" cols="75" rows="10"></textarea>
    <br>
    <button style="background-color: darkslategray; color: white; font-size:large "
            required value = "{{ inputs['text'] }}" >Submit</button>

</form>
</div>
</body>
</html>
{% endblock %}