
{% extends "layout.html" %}
{% block content %}

<head>
    <title>My Webpage</title>
</head>
<body>

<ul id="navigation">
    {% for article in articles %}
<!--    <li> {{ result.title }} </li>-->
    <div class="list-group">
        <a href="/articles/{{article.id}}" class="list-group-item list-group-item-action"
           style="font-size: x-large; width: 95%">
            {{ article.title }}
            {% if article.userId == currentUser %}
            <form method="post" action="/articles/{{article.id}}/delete" class="ml-2"
            style="text-align: right; font-size: small">
                <button type="submit" onclick="return confirm('are you sure?')" class="btn btn-light">x</button>
            </form>
            {% endif %}
        </a>
    {% endfor %}

<br><br>



</ul>
</body>
{% endblock %}
