
{% extends "layout.html" %}
{% block content %}

<head>
    <title>My Webpage</title>
</head>
<body>

<form action="/logout" method="post">
    <button>Logout</button>
</form>

<ul id="navigation">
    {% for article in articles %}
<!--    <li> {{ result.title }} </li>-->

    <ul><a href="/articles/{{article.id}}">{{ article.title }}</a>
        {% if article.userId == currentUser %}
        <form method="post" action="/articles/{{article.id}}/delete">
            <button type="submit" onclick="return confirm('are you sure?')">x</button>
        </form>
        {% endif %}
    </ul><br>

    {% endfor %}

<br><br>

    <a href="/articles/create">create an article</a>

</ul>
</body>
{% endblock %}
